# Java
*.class
*.jar
*.war
*.ear
*.iml
*.class
*.log
/target/
**/target/
/out/

# Docker
docker-compose.override.yml
docker-compose.*.yml
*.env
*.env.*
**/progress.md
# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
